@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;500;700&display=swap');


.wrapper {
    position: relative;
    height: 100vh;
}

.bg {
    position: absolute;
    width: 100%;
    z-index: -1000;
    height: 100vh;
}

.first-heading {
    padding-top: 5%;
    display: flex;
    justify-content: center;
    align-items: center;
    width:50%;
  
    margin: 0 auto;

}

.first-heading img{
    width: 100%;
    height: 20%;

}



.logo img {

    height: 113.65898895263672px;
    width: 117.03921508789062px;
    left: -0.00390625px;
    top: -0.0029296875px;
    border-radius: 0px;



}

.second-heading {
    font-family: Poppins;
    font-size: 50px;
    font-style: normal;
    font-weight: 700;
    letter-spacing: 0em;
    text-align: center;
    color: #8661D1;
    margin-top: -4%
}

.third-heading {

    text-align: center;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 25px;

    margin-top: -5%
}

.line-image {

    text-align: center;
    width: 50%;
    margin: -1% auto 0 auto;

}

.line-image img {
    width: 100%;
    height: 100%;
}


@media screen and (max-width: 1340px) {
    .b1 {

        font-size: 8px;
    }
}




@media screen and (max-width: 1300px) {
    a img {
        width: 80%;

    }

    .second-heading {
        font-size: 45px;
    }
}

@media screen and (max-width: 1295px) {

    a img {
        width: 78%;

    }

    .second-heading {
        font-size: 43px;
    }

}


@media screen and (max-width: 1250x) {
    a img {
        width: 76%;

    }

    .second-heading {
        font-size: 41px;
    }


}

@media screen and (max-width: 1000px) {
    a img {
        width: 74%;

    }

    .second-heading {
        font-size: 40px;
    }

}

@media screen and (max-width: 800px) {

    .wrapper {

        height: 80vh;
    }

    .bg {
        height: 80vh;
    }

    a img {
        width: 72%;

    }

    .second-heading {
        font-size: 40px;
    }

}

@media screen and (max-width: 650px) {

    .wrapper {

        height: 60vh;
    }

    .bg {
        height: 60vh;
    }

    a img {
        width: 78%;

    }

    .second-heading {
        font-size: 25px;
    }

    .third-heading {
        font-size: 15px;
    }

    .line-image {
        width: 60%;
    }

}


@media screen and (max-width: 550px) {

    .wrapper {

        height: 40vh;
    }

    .bg {
        height: 40vh;
    }

    a img {
        width: 58%;

    }

    .second-heading {
        font-size: 20px;
    }

    .third-heading {
        font-size: 12px;
    }

    .line-image {
        width: 60%;
    }

}